1) Create a class with names of fruits and add a new fruit, "fig", to the end of the list and print the updated list.

2) Create a list with the ages of the children in the class and print the length of the list.

3) Insert a new fruit, "grape", at the second position in the list and print the updated list.

4) Remove a specific fruit, "fig", from the list using the remove method and print the updated list.

5) Print the last fruit in the list after sorting it in reverse alphabetical order using the sort method.

6) Create a copy of the list sorted in alphabetical order without modifying the original list, and print both lists.

7) Delete the values from the first element up to the fourth element in the list given below

zodiac_signs = ["Aries", "Taurus", "Gemini", "Cancer", "Capricorn"]

8) Prompt the user to enter a name, then print the second letter of the entered name to the screen.

9) Create a program that asks the user to enter their name and their age. Print out a message addressed to them that tells them the year that they will turn 100 years old. For example,

What is your name? Khalid

How old are you? 23

Khalid will be 100 years old in the year 2101

10) Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn. Get Input from user. For example, 5 + 55 + 555 = 615

**Task 1**

In [ ]:
list1=['apple','pear','watermelon','melon']
print("Original list: ", list1)
list1.append('fig')
print("Updated list: ", list1)

Original list:  ['apple', 'pear', 'watermelon', 'melon']
Updated list:  ['apple', 'pear', 'watermelon', 'melon', 'fig']

**Task 2**

In [ ]:
list_ages=[15,20,16,18,14]
print(len(list_ages))

5

**Task 3**

In [ ]:
list3=['apple','pear','watermelon','melon']
print("Original list: ", list3)
list3.insert(2, 'grape')
print("Updated list: ", list3)

Original list:  ['apple', 'pear', 'watermelon', 'melon']
Updated list:  ['apple', 'pear', 'grape', 'watermelon', 'melon']

**Task 4**

In [ ]:
list4=['apple','pear','fig','watermelon','melon']
print("Original list: ", list4)
list4.remove('fig')
print("Updated list: ", list4)

Original list:  ['apple', 'pear', 'fig', 'watermelon', 'melon']
Updated list:  ['apple', 'pear', 'watermelon', 'melon']

**Task 5**

In [ ]:
list5=['apple','pear','fig','watermelon','melon']
print("Original list: ", list5)
list5.sort(reverse=True)
print("Sorted list: ", list5)
print("Last fruit in the list after sorting: ",list5[-1])

Original list:  ['apple', 'pear', 'fig', 'watermelon', 'melon']
Sorted list:  ['watermelon', 'pear', 'melon', 'fig', 'apple']
Last fruit in the list after sorting:  apple

**Task 6**

In [ ]:
list6=['apple','pear','fig','watermelon','melon']
print("Original list: ", list6)
list7=sorted(list6)
print("Sorted list: ", list7)

Original list:  ['apple', 'pear', 'fig', 'watermelon', 'melon']
Sorted list:  ['apple', 'fig', 'melon', 'pear', 'watermelon']

**Task 7**

In [ ]:
zodiac_signs = ["Aries", "Taurus", "Gemini", "Cancer", "Capricorn"]
print("Original list: ", zodiac_signs)
del zodiac_signs[0:4]
print("Updated list: ", zodiac_signs)

Original list:  ['Aries', 'Taurus', 'Gemini', 'Cancer', 'Capricorn']
Updated list:  ['Capricorn']

**Task 8**

In [ ]:
name=input("Enter a name: ")
print("Second letter of the entered name: ", name[1])

Enter a name: Narmin
Second letter of the entered name:  a

**Task 9**

In [ ]:
name1=input("What is your name? ")
age1=int(input("How old are you? "))
print(f"{name1} will be 100 years old in the year {2024-age1+100}")

What is your name? Narmin
How old are you? 21
Narmin will be 100 years old in the year 2103

**Task 10**

In [ ]:
n=input("Enter an integer n: " )
print(f"{n}+{n+n}+{n+n+n}=", int(n)+int(n+n)+int(n+n+n))

Enter an integer n: 5
5+55+555= 615