1) Write a program to merge two dictionaries into one. If there are overlapping keys, sum their values.

2) Write a Python program to create an empty dictionary.

3) Write a Python script to iterate over a dictionary and print all key-value pairs.

4) Write a Python program to remove the key-value pair with key 'age' from dictionary

5) Write a program to sort a dictionary by its keys in ascending order and print the sorted dictionary.

6) Given a dictionary students_scores = {'Alice': 85, 'Bob': 90}, update the score for 'Alice' to 95. If 'Charlie' does not exist in the dictionary, add 'Charlie' with a default score of 60.

7) Write a Python program to print all the values in dictionary:

8) Given a dictionary item_prices = {'apple': 1.00, 'banana': 0.50}, calculate the total price of all items. Then, apply a 10% discount to all items and update the dictionary.

**Task 1**

In [49]:
number1={"one":1,"two":2,"three":3,"four":4}
number2={"six":6,"three":3,"five":5,"four":4}
number1_copy=number1.copy()
number1.update(number2)
print(number1)
for i,j in number1_copy.items():
  for m,n in number2.items():
    if i==m:
      number1[i]=j+n
print(number1)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'six': 6, 'five': 5}
{'one': 1, 'two': 2, 'three': 6, 'four': 8, 'six': 6, 'five': 5}

**Task2**

In [3]:
dictionary={}
print(f"Empty dictionary: {dictionary}")

Empty dictionary: {}

**Task 3**

In [4]:
number3={"one":1,"two":2,"three":3,"four":4}
for i,j in number3.items():
  print(f"Key: {i}, Value: {j}")

Key: one, Value: 1
Key: two, Value: 2
Key: three, Value: 3
Key: four, Value: 4

**Task 4**

In [10]:
person={"name":"Narmin","surname":"Mamedova","age":22,"university":"BHOS"}
print(person)
del person["age"]
print(person)
# or person.pop("age")

{'name': 'Narmin', 'surname': 'Mamedova', 'age': 22, 'university': 'BHOS'}
{'name': 'Narmin', 'surname': 'Mamedova', 'university': 'BHOS'}

**Task 5**

In [17]:
person1={"name":"Narmin","surname":"Mamedova","age":22,"university":"BHOS"}
print(person1)
sorted_person1={}
for i in sorted(person1):
    sorted_person1[i]=person1[i]
print(sorted_person1)

{'name': 'Narmin', 'surname': 'Mamedova', 'age': 22, 'university': 'BHOS'}
{'age': 22, 'name': 'Narmin', 'surname': 'Mamedova', 'university': 'BHOS'}

**Task 6**

In [22]:
students_scores = {'Alice': 85, 'Bob': 90}
print(students_scores)
students_scores["Alice"]=95
print(students_scores)
students_scores.setdefault("Charlie",60)
print(students_scores)

{'Alice': 85, 'Bob': 90}
{'Alice': 95, 'Bob': 90}
{'Alice': 95, 'Bob': 90, 'Charlie': 60}

**Task 7**

In [23]:
number4={"one":1,"two":2,"three":3,"four":4}
for i in number4.values():
  print(f"Value: {i}")

Value: 1
Value: 2
Value: 3
Value: 4

**Task 8**

In [28]:
item_prices = {'apple': 1.00, 'banana': 0.50}
sum_prices=0
for i in item_prices.values():
  sum_prices+=i
print(f"Total prices of items: {sum_prices}")
new_items={}
for i,j in item_prices.items():
  new_items[i]=j*0.9
print(f"Discount applied items: {new_items}")

Total prices of items: 1.5
Discount applied items: {'apple': 0.9, 'banana': 0.45}