**Task 1**

In [ ]:
def is_even(n):
  if n%2==0:
    print(True)
  else:
    print(False)
n=int(input("Enter a number: "))
is_even(n)

Enter a number: 2
True

**Task 2**

In [ ]:
def is_prime(n):
  count=0
  i=1
  while i<(n+1):
    if n%i==0:
      count+=1
    i+=1
  if count>2:
    print("It is not prime number")
  else:
    print("It is prime number")
n=int(input("Enter a number: "))
is_prime(n)

Enter a number: 8
It is not prime number

**Task 3**

In [ ]:
def multiply_list(n):
  product=1
  for i in n:
    product*=i
  return product
list1=[8, 2, 3, -1, 7]
multiply_list(list1)

-336

**Task 4**

In [ ]:
def count_upper_lower(n):
  count_upper=0
  count_lower=0
  for i in n:
    if i.isalpha():
      if i==i.lower():
        count_lower+=1
      elif i==i.upper():
        count_upper+=1
  print("No. of Upper case characters: ", count_upper)
  print("No. of Lower case characters: ", count_lower)
n=input("Enter a string: ")
count_upper_lower(n)

Enter a string: 'The quick Brow Fox'
No. of Upper case characters:  3
No. of Lower case characters:  12

**Task 5**

In [ ]:
list2=[]
def square_list():
  i=1
  while i<31:
    list2.append(i**2)
    i+=1
  return list2
square_list()

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900]

**Task 6**

In [ ]:
def armstrong_number(n):
  sum1=0
  for i in str(n):
    sum1+=int(i)**len(str(n))
  if (sum1==n):
    print("It is armstrong number")
  else:
    print("It is not armstrong number")
n=int(input("Enter a number: "))
armstrong_number(n)

Enter a number: 1644
It is not armstrong number

**Task 7**

In [ ]:
def sum_digits(n):
  summ=0
  for i in str(n):
    summ+=int(i)
  return summ
n=int(input("Enter a number: "))
sum_digits(n)

Enter a number: 124954

25

**Task 8**

In [ ]:
def count_divisors(n):
  i=1
  count=0
  while i<n+1:
    if n%i==0:
      count+=1
    i+=1
  return count
n=int(input("Enter a number: "))
count_divisors(n)

Enter a number: 15

4

**Task 9**

In [22]:
def fuel_cost(distance, fuel_cost=1):
  return f"{fuel_cost} $"
fuel_cost(distance=50, fuel_cost=20)

'20 $'

**Task 10**

In [15]:
def hcf(m,n):
  i=1
  list3=[]
  while i<m+1:
    if m%i==0 and n%i==0:
      list3.append(i)
    i+=1
  return max(list3)
hcf(20,15)

5